h1{
  color: red;
  font-size: 30px;
}

#myP{
  color: orange;
  font-size: 20px;
  text-decoration: line-through;
}

.my-class{
  background-color: green;
  text-decoration: overline;
  text-transform: uppercase;
}

.my-class button{
  background-color: red;

}

.myClass1{
  background-color: orange;
  color: white;
  text-transform: uppercase;
}

.myClass2{
  background-color: green;
  color: black;
  text-transform: lowercase;
}

.myClass3{
  text-decoration: line-through;
}
