{{model | json}}
<form #myForm="ngForm" (submit)="doSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email" [(ngModel)]="model.email" name="email" required minlength="3" maxlength="100"
      #emailField="ngModel" email pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <div class="errorMessage" [hidden]="emailField.valid || (emailField.pristine && emailField.untouched)">
      <p [hidden]="emailField.errors ? !emailField.errors['required'] : true">El email es obligatorio</p>
      <p [hidden]="emailField.errors ? !emailField.errors['minlength'] : true">La cantidad mínima de caractéres es 3</p>
      <p [hidden]="emailField.errors ? !emailField.errors['maxlength'] : true">La cantidad máxima de caractéres es 10</p>
      <p [hidden]="emailField.errors ? !emailField.errors['email'] : true">El campo no es un formato de email valido</p>
      <p [hidden]="emailField.errors ? !emailField.errors['pattern'] : true">El campo no es un formato de email valido 2</p>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
      [(ngModel)]="model.password" name="password" required #passsordField="ngModel">
    <p class="errorMessage" [hidden]="passsordField.valid || (passsordField.pristine && passsordField.untouched)">
        El password es obligatorio
     </p>
  </div>
  <div class="form-group">
    <label for="exampleInputEdad">Edad</label>
    <input type="number" class="form-control" id="exampleInputEdad" placeholder="Edad"
      [(ngModel)]="model.age" name="edad" required #edadField="ngModel" min="1" max="100">
    <div class="errorMessage" [hidden]="edadField.valid || (edadField.pristine && edadField.untouched)">
      <p [hidden]="edadField.errors ? !edadField.errors['required'] : true">El edad es obligatorio</p>
      <p [hidden]="edadField.errors ? !edadField.errors['min'] : true">La edad debe estar entre 1 y 100 años</p>
      <p [hidden]="edadField.errors ? !edadField.errors['max'] : true">La edad debe estar entre 1 y 100 años</p>
    </div>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1"
      [(ngModel)]="model.check" name="check">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1"
      [(ngModel)]="model.tipoId" name="tipoId" required #tipoId="ngModel">
      <option value="0">Seleccione una opción</option>
      <option *ngFor="let tipoId of tiposId" [value]="tipoId.id">{{tipoId.desc}}</option>
    </select>
    <p class="errorMessage" [hidden]="tipoId.valid || tipoId.pristine">
      El Tipo de ID es obligatorio
    </p>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
</form>
