<p>NG Swithc Example</p>
<!--
<div [ngSwitch]="cadenaActual">
  <div *ngSwitchCase="'A'">Selecciono la opción A</div>
  <div *ngSwitchCase="'B'">Selecciono la opción B</div>
  <div *ngSwitchCase="'C'">Selecciono la opción C</div>
</div>

<button (click)="moverEnCadenas()">Cambiar opción</button>
-->

<!--
<div [ngSwitch]="numeros[indice]">
  <div *ngSwitchCase="1">Selecciono la opción 1</div>
  <div *ngSwitchCase="2">Selecciono la opción 2</div>
  <div *ngSwitchCase="3">Selecciono la opción 3</div>
  <div *ngSwitchDefault>Selecciono otra opción</div>
</div>

<button (click)="moverEnNumeros()">Cambiar opción</button>
-->

<!--
<div [ngSwitch]="numeros[indice]">
  <div *ngSwitchCase="1">Selecciono la opción 1</div>
  <div *ngSwitchCase="2">Selecciono la opción 2</div>
  <div *ngSwitchCase="3">Selecciono la opción 3</div>
  <ng-container *ngSwitchCase="4">
    <!-- Componente 1 -->
    <!-- Componente 2 -->
    <!-- Componente 3 -->
  <!--
  </ng-container>
</div>
-->
