<h1>Users Form</h1>
<ul>
  <li *ngFor="let user of users">{{user.name.concat(" " + user.email) }}</li>
</ul>

<button type="button" class="btn btn-primary" (click)="onClickCreateUser()">Crear Usuario</button>

<!--
<form [formGroup]="form" (submit)="findUser()">
  <div class="form-group">
    <label for="exampleInputEmail1">ID</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ID"
        formControlName="id">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div [hidden]="user.id === 0">
  El usuario consultado es {{user.name}} - {{user.gender}}
</div>
-->
