<p>Información de la persona {{person.firstName}} {{person.lastName}}</p>
<p>Estudiando {{person.carrera}} en {{person.universidad}}</p>
<button (click)="showDetailAction()">Mostrar información adicional</button>
<app-persona-detail [person]="person" [show]="showDetail" (carrera)="setCarrera($event)" (universidad)="setUniversidad($event)"></app-persona-detail>
