<form #myForm="ngForm" (submit)="doSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email" [(ngModel)]="email" name="email" required
      #emailField="ngModel">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <p class="errorMessage" [hidden]="emailField.valid || (emailField.pristine && emailField.untouched)">
      El email es obligatorio
    </p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
      [(ngModel)]="password" name="password" required #passsordField="ngModel">
    <p class="errorMessage" [hidden]="passsordField.valid || passsordField.pristine">
        El password es obligatorio
     </p>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1"
      [(ngModel)]="check" name="check">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1"
      [(ngModel)]="tipoIdSelect" name="tipoId" required #tipoId="ngModel">
      <option value="">Seleccione una opción</option>
      <option *ngFor="let tipoId of tiposId">{{tipoId}}</option>
    </select>
    <p class="errorMessage" [hidden]="tipoId.valid || tipoId.pristine">
      El Tipo de ID es obligatorio
    </p>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
</form>
