<h1>Menú principal</h1>
<ul>
  <li>
    <a routerLink="/option1" routerLinkActive="active selected">Ir a opción 1</a>
  </li>
  <li>
    <a [routerLink]="['/option2']" [routerLinkActive]="['active']">Ir a opción 2</a>
  </li>
  <li>
    <a routerLink="/option3" routerLinkActive="active">Ir a opción 3</a>
  </li>
  <li>
    <a [routerLink]="['/option4', '1']" routerLinkActive="active">Ir a opción 4</a>
  </li>
  <li>
    <a [routerLink]="['/option5']" [queryParams]="{ id: 2 }" routerLinkActive="active">Ir a opción 5</a>
  </li>

  <li>
    <a [routerLink]="['/option6']" routerLinkActive="active">Ir a opción 6</a>
  </li>
  <li>
    <a [routerLink]="['/option6/option61']" routerLinkActive="active">Ir a opción 6.1</a>
  </li>
  <li>
    <a [routerLink]="['/option6/option62']" routerLinkActive="active">Ir a opción 6.2</a>
  </li>

  <li>
    <a [routerLink]="['/redirect']" routerLinkActive="active">Redirect</a>
  </li>

</ul>

<router-outlet></router-outlet>
