<p>Mostrando propiedades desde el componente externo {{primerNombre}} {{primerApellido}}</p>
<app-interno [firstName]="primerNombre" [lastName]="primerApellido"></app-interno>
<button (click)="cambiarNombre()">Cambiar nommbre</button>
